services:
  qbittorrent:
    runtime: runc
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: ${CONTAINER_NAME}_main
    environment:
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
      TZ: ${TZ:-Europe/Moscow}
      WEBUI_PORT: ${WEBUI_PORT:-8080}
      TORRENTING_PORT: ${TORRENTING_PORT:-6881}
    ports:
      - ${WEBUI_PORT:-8080}:${WEBUI_PORT:-8080}
      - ${TORRENTING_PORT:-6881}:${TORRENTING_PORT:-6881}
      - ${TORRENTING_PORT:-6881}:${TORRENTING_PORT:-6881}/udp
    volumes:
      - ./${CONTAINER_NAME}_data/config:/config
      - /media/downloads:/downloads
    restart: unless-stopped
    labels:
      # WatchTower
      - com.centurylinklabs.watchtower.enable=true
      # HomePage 
      - homepage.group=Media
      - homepage.name=Qbit Torrent
      - homepage.icon=qbittorrent.svg
      - homepage.href=http://torrent.home
      - homepage.description=Torrent downloader
  qbittorrent_vpn:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: vpn_${CONTAINER_NAME}_main
    environment:
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
      TZ: ${TZ:-Europe/Moscow}
      WEBUI_PORT: ${VPN_WEBUI_PORT:-8081}
      TORRENTING_PORT: ${VPN_TORRENTING_PORT:-6882}
    volumes:
      - ./vpn_${CONTAINER_NAME}_data/config:/config
      - /media/downloads:/downloads
    restart: unless-stopped
    labels:
      # WatchTower
      - com.centurylinklabs.watchtower.enable=true
      # HomePage 
      - homepage.group=Media
      - homepage.name=Qbit Torrent (vpn)
      - homepage.icon=qbittorrent.svg
      - homepage.href=http://torrent.home
      - homepage.description=Torrent downloader over VPN
    network_mode: service:gluetun_qtor
    depends_on:
      gluetun_qtor:
        condition: service_healthy
        restart: true
  #
  # VPN
  #
  gluetun_qtor:
    extends:
      file: ../gluetun/gluetun-compose-base.yaml
      service: gluetun
    volumes:
      - ./${CONTAINER_NAME}_data/gluetun:/gluetun
    environment:
      HTTP_CONTROL_SERVER_ADDRESS: :8005
#
# NetWorks
#
networks: {}
