services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: ${CONTAINER_NAME}_main
    labels:
      - autoheal-app=true
      - com.centurylinklabs.watchtower.enable=true
    restart: unless-stopped
    volumes:
      - /media/jellyfin/Books/Audiobooks:/audiobooks
      - /media/jellyfin/Podcast:/podcasts
      - ./${CONTAINER_NAME}_data/config/config:/config
      - ./${CONTAINER_NAME}_data/config/metadata:/metadata
    environment:
      TZ: ${TZ:-Europe/Moscow}
    network_mode: service:gluetun_abs
    depends_on:
      gluetun_abs:
        condition: service_healthy
        restart: true
  #
  # VPN
  #
  gluetun_abs:
    extends:
      file: ../gluetun/gluetun-compose-base.yaml
      service: gluetun
    volumes:
      - ./${CONTAINER_NAME}_data/gluetun:/gluetun
    environment:
      HTTP_CONTROL_SERVER_ADDRESS: :8002
    ports:
      - 13378:80
      - 13379:8000
  #
  # BeckUps
  #
  ## main
  backup_restic__audiobookshelf:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: backup
    volumes:
      - ./${CONTAINER_NAME}_data/config:/backup_data:ro
  ## prune
  prune_restic__audiobookshelf:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: prune
  ## chekc
  check_restic__audiobookshelf:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: check
#
# NetWorks
#
networks:
  apprise_notification:
    external: true
