services:
  vaultwarden:
    image: vaultwarden/server:latest
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: ${CONTAINER_NAME}_main
    environment:
      DOMAIN: https://vaultwarden.big-black-duck.keenetic.link
      SIGNUPS_ALLOWED: "true"
      TIMEZONE: ${TIMEZONE:-Europe/Moscow}
      TZ: ${TZ:-Europe/Moscow}
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
      EXPERIMENTAL_CLIENT_FEATURE_FLAGS: ssh-key-vault-item,ssh-agent
    ports:
      - 8282:80
    volumes:
      - ./${CONTAINER_NAME}_data/config/:/data/
    restart: unless-stopped
  # BeckUps
  ## main
  backup_restic__vaultwarden:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: backup
    volumes:
      - ./${CONTAINER_NAME}_data/config:/backup_data:ro
    environment:
      BACKUP_CRON: 0 0 */6 * * *
  ## prune
  prune_restic__vaultwarden:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: prune
  ## chekc
  check_restic__vaultwarden:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: check
    environment:
      CHECK_CRON: 0 1 */12 * * *
networks: {}
