services:
  vaultwarden:
    image: vaultwarden/server:latest
    labels:
      - 'com.centurylinklabs.watchtower.enable=true'
    container_name: ${CONTAINER_NAME}_main
    environment:
      DOMAIN: https://vaultwarden.big-black-duck.keenetic.link
      SIGNUPS_ALLOWED: "true"
      TIMEZONE: ${TIMEZONE:-Europe/Moscow}
      TZ: ${TZ:-Europe/Moscow}
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
      EXPERIMENTAL_CLIENT_FEATURE_FLAGS: "ssh-key-vault-item,ssh-agent"
    ports:
      - 8282:80
    volumes:
      - ./${CONTAINER_NAME}_data/data/:/data/
    restart: unless-stopped

  backup:
    image: ttionya/vaultwarden-backup:latest
    labels:
      - 'com.centurylinklabs.watchtower.enable=true'
    container_name: vaultwarden-backup
    restart: always
    environment:
      RCLONE_REMOTE_NAME: 'MailCloud'
      RCLONE_REMOTE_DIR: '/Backup/VaulWarden/'
      CRON: '*/30 * * * *'
      ZIP_ENABLE: 'TRUE'
      ZIP_PASSWORD: '${ZIP_PASSWORD:-PASS}'
      ZIP_TYPE: '7z'
      BACKUP_FILE_SUFFIX: '%d.%m.%y_%H.%M.%S'
      BACKUP_KEEP_DAYS: 14
      TIMEZONE: ${TIMEZONE:-Europe/Moscow}
    volumes:
      - ./${CONTAINER_NAME}_data/data/:/bitwarden/data/
      - ./${CONTAINER_NAME}_data/config/:/config/

  # BeckUps
  ## main
  backup_restic__vaultwarden:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: backup
    environment:
      BACKUP_CRON: "0 0 */6 * * *"
    volumes:
      - ./${CONTAINER_NAME}_data:/beckaups_data:ro

  ## prune
  prune_restic__vaultwarden:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: prune

  ## chekc
  check_restic__vaultwarden:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: check
    environment:
      CHECK_CRON: "0 0 */12 * * *"
