services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    labels:
      # watchtower
      com.centurylinklabs.watchtower.enable: true
      # traefik
      traefik.enable: "true"
      traefik.http.routers.wg-easy.rule: Host(`${INIT_HOST}`)
      traefik.http.routers.wg-easy.entrypoints: websecure
      traefik.http.routers.wg-easy.tls: "true"
      traefik.http.routers.wg-easy.tls.certresolver: letsencrypt
      traefik.http.services.wg-easy.loadbalancer.server.port: 51821
    container_name: ${CONTAINER_NAME}_main
    environment:
      TZ: ${TZ:-Europe/Moscow}
      INSECURE: false
      INIT_ENABLED: ${INIT_ENABLED}
      INIT_USERNAME: ${INIT_USERNAME}
      INIT_PASSWORD: ${INIT_PASSWORD}
      INIT_HOST: ${INIT_HOST}
      INIT_PORT: ${INIT_PORT}
      INIT_DNS: ${INIT_DNS}
      INIT_IPV4_CIDR: ${INIT_IPV4_CIDR}
      INIT_IPV6_CIDR: ${INIT_IPV6_CIDR}
    networks:
      traefik: {}
      wg:
        ipv4_address: 10.42.42.42
    volumes:
      - ./${CONTAINER_NAME}_data/wg:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "${INIT_PORT}:${INIT_PORT}/udp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
#
# NetWorks
#
networks:
  apprise_notification: 
    external: true
  traefik:
    external: true
  wg:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
