services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    labels:
      - 'com.centurylinklabs.watchtower.enable=true'
    restart: unless-stopped
    container_name: homepage
    ports:
      - 9999:3000
    volumes:
      - /:/mnt/root:ro
      - /ssd_data:/mnt/ssd:ro
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
#
# NetWorks
#
networks: {}
