services:
  watchtower:
    image: containrrr/watchtower
    container_name: ${CONTAINER_NAME}_main
    labels:
      - com.centurylinklabs.watchtower.enable=true
    environment:
      TZ: ${TZ:-Europe/Moscow}
      WATCHTOWER_CLEANUP: ${WATCHTOWER_CLEANUP:-"true"}
      WATCHTOWER_LABEL_ENABLE: ${WATCHTOWER_LABEL_ENABLE:-"true"}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
#
# NetWorks
#
networks: {}
