services:
  rsstt:
    image: rongronggg9/rss-to-telegram
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: ${CONTAINER_NAME}_main
    restart: unless-stopped
    volumes:
      - ./${CONTAINER_NAME}_data:/app/config
    environment:
      TZ: ${TZ:-Europe/Moscow}
      TOKEN: ${TOKEN:-token}
      MANAGER: ${MANAGER:-manager}
    network_mode: service:gluetun_rsstt
    depends_on:
      gluetun_rsstt:
        condition: service_healthy
        restart: true
  #
  # VPN
  #
  gluetun_rsstt:
    image: qmcgaw/gluetun
    container_name: ${CONTAINER_NAME}_vpn
    labels:
      - com.centurylinklabs.watchtower.enable=true
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./${CONTAINER_NAME}_data/gluetun:/gluetun
    environment:
      VPN_TYPE: wireguard
      VPN_SERVICE_PROVIDER: custom
      WIREGUARD_ENDPOINT_IP: ${WIREGUARD_ENDPOINT_IP}
      WIREGUARD_ENDPOINT_PORT: ${WIREGUARD_ENDPOINT_PORT}
      WIREGUARD_PRIVATE_KEY: ${WIREGUARD_PRIVATE_KEY}
      WIREGUARD_ADDRESSES: ${WIREGUARD_ADDRESSES}
      WIREGUARD_PUBLIC_KEY: ${WIREGUARD_PUBLIC_KEY}
      WIREGUARD_PRESHARED_KEY: ${WIREGUARD_PRESHARED_KEY}
      TZ: ${TZ:-Europe/Moscow}
      HTTP_CONTROL_SERVER_ADDRESS: :8003
      DNS_UPSTREAM_RESOLVERS: 'quad9'
  #
  # BeckUps
  #
  ## main
  backup_restic__rsstt:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: backup
    volumes:
      - ./${CONTAINER_NAME}_data:/backup_data:ro
  ## prune
  prune_restic__rsstt:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: prune
  ## chekc
  check_restic__rsstt:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: check
#
# NetWorks
#
networks:
  apprise_notification: 
    external: true
