services:
  #
  ##
  ### Mail.Ru Cloud
  rclone_mailcloud:
    image: ghcr.io/my-declarative-pc/docker-rclone-cron
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: ${CONTAINER_NAME}_to_mail-cloud
    environment:
      CRON_SCHEDULE: 5 */6 * * *
      COMMAND: rclone sync -v /backup_data MAILCLOUD:Backup/restic_backup
      # config
      RCLONE_CONFIG_MAILCLOUD_TYPE: mailru
      RCLONE_CONFIG_MAILCLOUD_USER: ${MAILCLOUD_USER}
      RCLONE_CONFIG_MAILCLOUD_PASS: ${MAILCLOUD_PASS}
      RCLONE_CONFIG_MAILCLOUD_TOKEN: ${MAILCLOUD_TOKEN}
      # other
      TZ: ${TZ:-Europe/Moscow}
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
    restart: unless-stopped
    volumes:
      - /backup/ssd/restic:/backup_data:ro
  #
  ##
  ### USB Flash
  rclone_flash:
    image: ghcr.io/my-declarative-pc/docker-rclone-cron
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: ${CONTAINER_NAME}_to_usb-flash
    environment:
      CRON_SCHEDULE: 5 */6 * * *
      COMMAND: rclone sync -v /backup_data /second_backup_data
      # other
      TZ: ${TZ:-Europe/Moscow}
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
    restart: unless-stopped
    volumes:
      - /backup/ssd/restic:/backup_data:ro
      - /backup/flash/restic:/second_backup_data
networks: {}
