services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: ${CONTAINER_NAME}_main
    environment:
      TZ: ${TZ:-Europe/Moscow}
      JELLYFIN_PublishedServerUrl: ${JELLYFIN_PublishedServerUrl:-0.0.0.0} #optional
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
    volumes:
      - ./${CONTAINER_NAME}_data/config:/config
      - ./${CONTAINER_NAME}_data/cache:/cache
      - /media/jellyfin/TV_Shows:/data/tvshows
      - /media/jellyfin/Films:/data/movies
      - /media/jellyfin/Books:/data/books
      - /media/jellyfin/Anime:/data/anime
      - /media/jellyfin/Podcast:/data/podcast
    restart: unless-stopped
    network_mode: service:gluetun_jelly
    healthcheck:
      test: curl --fail http://127.0.0.1:8096/health
      interval: 1m
      timeout: 30s
      retries: 3
    depends_on:
      gluetun_jelly:
        condition: service_healthy
        restart: true

  gluetun_jelly:
    image: qmcgaw/gluetun
    container_name: ${CONTAINER_NAME}_vpn
    labels:
      - com.centurylinklabs.watchtower.enable=true
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    volumes:
      - ./${CONTAINER_NAME}_data/gluetun:/gluetun
    environment:
      VPN_TYPE: wireguard
      VPN_SERVICE_PROVIDER: custom
      WIREGUARD_ENDPOINT_IP: ${WIREGUARD_ENDPOINT_IP}
      WIREGUARD_ENDPOINT_PORT: ${WIREGUARD_ENDPOINT_PORT}
      WIREGUARD_PRIVATE_KEY: ${WIREGUARD_PRIVATE_KEY}
      WIREGUARD_ADDRESSES: ${WIREGUARD_ADDRESSES}
      WIREGUARD_PUBLIC_KEY: ${WIREGUARD_PUBLIC_KEY}
      WIREGUARD_PRESHARED_KEY: ${WIREGUARD_PRESHARED_KEY}
      TZ: ${TZ:-Europe/Moscow}
      HTTP_CONTROL_SERVER_ADDRESS: :8001

  # BeckUps
  ## main
  backup_restic__jellyfin:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: backup

  ## prune
  prune_restic__jellyfin:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: prune

  ## chekc
  check_restic__jellyfin:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: check
