CONTAINER_NAME=jellyfin
TZ=Europe/Moscow
PUID=1000
PGID=1000
JELLYFIN_PublishedServerUrl=0.0.0.0
RESTIC_PASSWORD=

EXPLO_PORT=7288
WEB_UI=true
WIZARD_COMPLETE=true
UI_USERNAME=
UI_PASSWORD=
LISTENBRAINZ_USER=
LISTENBRAINZ_USER_TOKEN=
EXPLO_SYSTEM=jellyfin
SYSTEM_URL=http://127.0.0.1:8096
SYSTEM_USERNAME=
API_KEY=
LIBRARY_NAME=Music
PUBLIC_PLAYLIST=false
TRACK_MATCH_SCORE=60
USE_SUBDIRECTORY=false
PATH_TEMPLATE={{Artist}}/{{Album}}/{{File}}
DOWNLOAD_SERVICES=youtube
TRACK_EXTENSION=mp3
EMBED_COVER_ART=false
SLEEP=2
LOG_LEVEL=INFO
