services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: ${CONTAINER_NAME}_main
    environment:
      TZ: ${TZ:-Europe/Moscow}
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
    restart: unless-stopped
    ports:
      - 3001:3001
    volumes:
      - ./${CONTAINER_NAME}_data/config:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      # WatchTower
      - 'com.centurylinklabs.watchtower.enable=true'
      # HomePage
      - homepage.group=Utils
      - homepage.name=Uptime Kuma
      - homepage.icon=uptime-kuma.svg
      - homepage.href=http://uptime-kuma.home
      - homepage.description=Uptime life checker

  # BeckUps
  ## main
  backup_restic__uptime-kuma:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: backup
    volumes:
      - ./${CONTAINER_NAME}_data/config:/beckaups_data:ro
      - ./${CONTAINER_NAME}_data/beckup:/restore_data

  ## prune
  prune_restic__uptime-kuma:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: prune

  ## chekc
  check_restic__uptime-kuma:
    extends:
      file: ../restic/restic-compose-base.yaml
      service: check
